{% extends "employee_register/base.html" %}

{% block content %}

<h1 class="display-4">MÜŞTERİ LİSTESİ</h1>
<p class="lead font-italic">*** {{ request.user.get_full_name }} olarak giriş yaptınız ***</p>
<hr class="my-4">

    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bold">
            <tr>
                <td>Müşteri İsim Soyisim</td>
                <td>GSM</td>
                <td>TC</td>
                <td>
                    <a href="{% url 'employee_insert'%}" class="btn btn-outline-success">
                        <i class="fas fa-plus"></i> Add New
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for employee in employee_list %}
                <tr>
                    <td>{{employee.fullname}}</td>
                    <td>{{employee.gsm}}</td>
                    <td>{{employee.tc}}</td>
                    <td>
                        <a href="{% url 'employee_update' employee.id %}" class="btn text-secondary px-0">
                            <i class="far fa-edit fa-lg"></i>
                        </a>
                        <form action="{% url 'employee_delete' employee.id %}" method="post" class="d-inline" >
                            {% csrf_token %}
                            <button type="submit" class="btn">
                                <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}